.container {
  background-color: var(--bgSoft);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem;
  border-radius: 0.75rem;
}

.title {
  color: var(--secondaryText);
  font-weight: 300;
  font-size: 1.375rem;
  letter-spacing: 0.125rem;
  text-transform: capitalize;
}

.menu {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.search {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  background-color: #6d6d6d;
  padding: 0.625rem;
  border-radius: 0.75rem;
}

.input {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--primaryText);
}

.icons {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  cursor: pointer;
}
