.container {
  background-color: var(--bgSoft);
  padding: 1.25rem;
  border-radius: 0.75rem;
}

.title {
  margin-bottom: 1.25rem;
  font-weight: 200;
  color: var(--secondaryText);
}

.table {
  width: 100%;
}

.table td {
  padding: 0.625rem;
}

.user {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.userImage {
  object-fit: cover;
  border-radius: 50%;
}

.status {
  border-radius: 0.438rem;
  padding: 0.313rem;
  font-size: 0.875rem;
  color: var(--primaryText);
}

.pending {
  background-color: #faab78;
}
.done {
  background-color: #82a0d8;
}
.cancelled {
  background-color: #e97777;
}
