.container {
  height: 28.125rem;
  background-color: var(--bgSoft);
  border-radius: 0.75rem;
  padding: 1.25rem;
}

.title {
  font-weight: 200;
  color: var(--secondaryText);
  margin-bottom: 1.25rem;
}
