.container {
  position: sticky;
  top: 2.5rem;
}

.user {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin-bottom: 1.25rem;
}

.userImage {
  border-radius: 50%;
  object-fit: cover;
}

.userDetail {
  display: flex;
  flex-direction: column;
}

.username {
  font-weight: 500;
}

.userTitle {
  font-size: 0.75rem;
  color: var(--secondaryText);
}

.list {
  list-style: none;
}

.cat {
  color: var(--primaryText);
  font-weight: bold;
  font-size: 1rem;
  margin: 0.625rem 0rem;
}

.logout {
  padding: 1.25rem;
  margin: 0.625rem 0rem;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  cursor: pointer;
  border-radius: 0.75rem;
  background: none;
  border: none;
  color: var(--primaryText);
  width: 100%;
  font-size: 1rem;
}

.logout:hover {
  background-color: #6d6d6d;
}
