.container {
  padding: 1.25rem;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  margin: 0.438rem 0rem;
  border-radius: 0.75rem;
}

.container:hover,
.active {
  background-color: #6d6d6d;
}
